html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  flex: 1;
}

footer {
  bottom: 0;
  width: 100%;
}

.title{
  text-align:center;
  padding-top: 20px;
}

.accordion{
  border-color: black;
  background-color: rgb(145, 145, 157);
  margin: auto;
}

.debit-creditPayment{
  text-align: left;
}