@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    font-family: Poppins, sans-serif;
}

.body {
    background-color: #252a2d;
    height: 100%;
    width: auto;
    padding-top: 10px;
}